/** general styling */
body {
  margin: 0;
  background-color: $color-body;
  color: $color-text;
  font-family: $font-body;
  font-size:  map.get(map.get(map.get($paragraph-styles, 'p1'), 'mb'), 'font-size');
  line-height:  map.get(map.get(map.get($paragraph-styles, 'p1'), 'mb'), 'line-height');
  font-weight:  map.get(map.get(map.get($paragraph-styles, 'p1'), 'mb'), 'font-weight');
}

#app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: spacing(10) 0 spacing(16);
  text-align: left;

  .container {
    text-align: left;
  }

  .btn-wrapper {
    width: 200px;
  }
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color $animation-speed;

  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }

  &.text-color-secondary {
    &:hover {
      color: $color-gray-500;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hover-underline {
  position: relative;
  margin-bottom: 0;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 0% 2px;
  text-decoration: none;
  transition: background-size .3s;

  &:hover,
  &--focus {
    background-size: 100% 2px;
  }
}

.pt-6 {
  padding-top: 100px !important;
}

.pb-6 {
  padding-bottom: 100px !important;
}

.bi.size-sm {
  &::before {
    font-size: 1.55rem !important;
  }
}
