// animation
$animation-speed: .33s;
$animation-speed-fast: .15s;

// z-index variables
$z-tooltip: 10;
$z-fixed: 100;
$z-model: 1000;
$z-priority: 9999;

// aspect ratios
$aspect-ratios: (
    1x1: 1 / 1,
    2x1: 2 / 1,
    2x3: 2 / 3,
    3x1: 3 / 1,
    3x2: 3 / 2,
    3x4: 3 / 4,
    4x3: 4 / 3,
    16x9: 16 / 9,
    21x9: 21 / 9,
    30x9: 30 / 9,
);
